@import url('https://fonts.googleapis.com/css?family=Lato|Averia+Serif+Libre');

/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}


/* ---- typography ---- */

body {
  color: #111;
  font-family: 'Lato';
  line-height: 147%;
  background-color: #F7F7F7;
}

h1 {}

h2 {}

h3 {}

p {
  margin: 0;
}



/* ---- layout ---- */

.container {
  margin: 0 20px;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}

/* --- navbar --- */

.navbar {
  height: 56px;
  display: flex;
  justify-content: space-between;
  /* overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%; */
}

.nav-link {
  text-decoration: none;
  color: #8C0000;
}

.nav-or {
  color: black;
}

.profile-link {
  padding-right: 15px;
  padding-top: 10px;
}

.home-link {
  padding-left: 15px;
  padding-top: 10px;
}

.navbar-logo {
  width: 30px;
}

.menu-btn {
  margin-right: 8px;
  text-align: right;
  padding-top: 10px;
  background: transparent;
  border: none;
}

.menu-img {
  height: 35px;
}

.nav-menu {
  background-color: #EAEAEA;
  padding: 15px;
  line-height: 40px;
  list-style: none;
}

.menu-option {
  padding-left: 45px;
  line-height: 45px;
  color: #570000;
}

.menu-link {
  text-decoration: none;
}

.menu-box {
  text-align: right;
  background-color: #EAEAEA;
  z-index: 999;
}

.hide-menu-btn {
  color: #570000;
  background: transparent;
  border: none;
}

/* ---- components ---- */

.button {
  width: 100%;
  background-color: blue;
  color: #fff;
  border: 1px solid #fff
}

.back-btn {
  background-color: black;
  color: white;
  border-radius: 10px;
  margin: 40px 0;
}

.player-list {
  padding: 0;
}

.cancel-btn {
  margin: 20px;
  text-underline-position: auto;
  text-decoration: underline;
  background: transparent;
  border: none;
}

.cancel-btn-box {
  text-align: center;
  margin-top: 20px;
}

.buyins-box {
  display: flex;
  margin-left: 15px;
}

/* ------- PAGES ------- */

.not-found-title {
  text-align: center;
  font-size: 35px;
  margin-top: 200px;
}

/* --- landing --- */

.main-title {
  display: flex;
  text-align: center;
}

.main-title h1 {
  font-size: 55px;
  font-family: 'Averia Serif Libre';
  margin: 200px auto 0px;
  color: #8C0000;
}

.main-title img {
  height: 40px;
  padding: 0px 2px;
}

.landing-text {
  text-align: center;
  margin-top: 30px;
}

.landing-navbar {
  text-align: right;
  padding-right: 15px;
  padding-top: 10px;
  color: #8C0000;
}

/* --- login & signup --- */

.li-su-input {
  border-bottom: solid;
  border-top: #F7F7F7;
  border-right: #F7F7F7;
  border-left: #F7F7F7;
  background-color: #F7F7F7;
  height: 30px;
  padding: 10px;
}

.li-su-input-container {
  margin-top: 15px;
}

.li-su-container {
  margin-top: 100px;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.75);
}

.li-su-title {
  text-align: center;
  padding-top: 20px;
}

.username-container {
  text-align: center;
  padding-top: 20px;
}

.password-container {
  text-align: center;
  padding-top: 20px;
}

.li-su-btn-container {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.li-su-btn {
  background-color: #8C0000;
  border-radius: 10px;
  font-size: 15px;
  color: white;
  padding: 10px 20px;
  font-weight: bold;
  border: 1px solid #8C0000;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.to-su-li {
  text-align: center;
}

.li-su-link-container {
  padding-top: 5px;
  padding-bottom: 20px;
}

.li-su-link {
  color: #8C0000;
}

.error-msg {
  color: red;
  text-align: center;
  margin: 20px;
  margin-top: 30px;
}

/* --- home --- */

.newgame-btn {
  text-align: center;
  font-size: 40px;
  margin: 200px auto 0 auto;
}

.newgame-link {
  padding: 30px;
  background-color: #8C0000;
  text-decoration: none;
  border-radius: 10px;
  color: white;
  box-shadow: 0px 0px 51px -6px rgba(0,0,0,0.75);
}

.odd-calc-link {
  margin-top: 200px;
  text-align: center;
}

/* --- add players --- */

.add-players-title {
  margin-top: 40px;
}

.add-player-form {
  display: flex;
  margin-top: 28px;
}

.add-player-btn {
  background: transparent;
  border: none;
}

.add-name-box {
  width: 175px;
}

.add-name-input {
  border: 1px solid;
  height: 35px;
  margin-right: 15px;
  border-radius: 5px;
  padding: 8px;
  margin-top: 5px;

}

.add-buyin-box {
  width: 70px;
}

.add-buyin-input {
  border: 1px solid;
  height: 35px;
  border-radius: 5px;
  width: 50px;
  margin-top: 5px;
  padding: 8px;
  margin-left: 10px;
}

.add-buyin-label {
  padding-left: 10px;
}

.add-player-img {
  height: 35px;
  margin-top: 25px;
}

.start-btn {
  border-radius: 10px;
  background-color: #570000;
  color: white;
  font-weight: bold;
  border: 1px solid #570000;
  padding: 10px 20px;
}

.start-btn-box {
  text-align: center;
  margin-top: 40px;
}

.add-player-card {
  border: 2px solid black;
  list-style: none;
  display: inline-block;  
  border-radius: 20px;
  padding: 5px 10px;
  margin: 10px;
}

/* --- game playing --- */

.current-player-card {
  list-style: none;
  border: 1px solid black;
  margin: 10px auto;
  border-radius: 10px;
  background-color: #E5E5E5;
  box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.75);
}

.buyin-history {
  margin-bottom: 10px;
  padding: 10px;
}

.buyin-history li {
  list-style: none;
}

.total-buyin-tag {
  font-weight: bold;
}

.card-name-tag {
  font-weight: bold;
  font-size: 25px;
}

.finished-player {
  background-color: #280000;
  color: white;
}

.current-player-info {
  padding: 5px;
  padding-left: 10px;
  margin-top: 8px;
}

.current-player-link {
  text-decoration: none;
  color: white;
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
}

.current-player-buttons {
  margin: 5px;
  margin-bottom: 15px;
}

.rebuy-btn {
  background-color: #01172F;
  padding: 8px 15px;
  font-weight: bold;
}

.final-stack-btn {
  background-color: #8C0000;
  padding: 8px 15px;
  font-weight: bold;
}

.end-game-btn-box {
  text-align: center;
  margin-bottom: 50px;
}

.end-game-btn {
  border-radius: 10px;
  background-color: #570000;
  color: white;
  font-weight: bold;
  border: 1px solid #570000;
  padding: 10px 20px;
  text-decoration: none;
  margin-bottom: 40px
}

.playing-pot {
  margin: 35px 20px;
  font-size: 35px
}

.remaining-pot {
  margin: 0 20px 40px;
}

.new-player-link {
  color: #570000;
  font-weight: bold;
  font-size: 18px;
}

.new-player-box {
  margin: 30px 10px;
}

/* --- rebuy & final stack --- */

.playing-form {
  margin-top: 30px;
}

.playing-input {
  border: 1px solid black;
  border-radius: 5px;
  height: 50px;
  width: 80px;
  text-align: center;
  font-size: 20px;
}

.playing-submit-btn {
  background-color: #8C0000;
  margin: 10px;
  border-radius: 10px;
  color: white;
  padding: 10px 15px;
  font-weight: bold;
  border: 1px solid #8C0000;
}

/* --- game summary --- */

.bi-fs-infobox {
  display: flex;
}

.bi-fs-infobox p {
  padding: 0px 15px;
}

.summary-player-info {
  padding: 5px;
}

.summary-name {
  font-size: 20px;
  font-weight: bold;
  padding-top: 5px;
  padding-left: 20px;
}

.summary-player-win {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

.total-win {
  font-size: 30px;
}

.summary-total-pot {
  font-size: 25px;
}

.prop-player-tag {
  font-weight: bold;
}

.done-link-box {
  text-align: center;
  margin: 50px;
  margin-bottom: 70px;
}

.done-game-link {
  text-decoration: none;
  background-color: green;
  color: white;
  padding: 10px 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 35px 1px green;
}

.delete-game-btn {
  padding: 5px 10px;
  margin-bottom: 40px;
  text-decoration: underline;
  color: #8C0000;
  border: none;
  background: transparent;
}

.share-game-link-box {
  text-align: center;
  margin-bottom: 40px;
}

.share-game-link {
  background-color: #01172F;
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 20px;
}

.summary-buttons {
  display: flex;
  justify-content: space-around;
}

/* --- profile --- */

.profile-header {
  display: flex;
}

.my-games-btn-box {
  margin: 40px;
  text-align: center;
}

.my-games-link {
  text-decoration: none;
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.playing-tag {
  font-weight: bold;
}

.backhome-link {
  text-decoration: none;
  background-color: black;
  color: white;
  padding: 8px;
  border-radius: 10px;
  font-size: 13px;
}

.my-info-container {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}

.my-info-container li {
  list-style: none;
  padding: 10px;
}

.my-info-tag {
  font-weight: bold;
}

/* --- my games --- */

.game-list {
  padding: 5px;
  list-style: none;
}

.game-card-container {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  margin: 10px auto;
  color: black;
}

.game-link {
  text-decoration: none;
}

.first-line-game-info {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.first-line-game-info p {
  font-weight: bold;
}

.second-line-game-info {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.pot-info {
  font-size: 20px;
}

.backprofile-box {
  text-align: center;
  margin-bottom: 40px;
}

.is-playing {
  background-color: #570000;
  color: white;
}

.is-not-playing {
  background-color: #E5E5E5;
}

/* --- odd calculator --- */

.cards-input-box {
  display: flex;
  flex-direction: column
}

.cards-input {
  border: 1px solid;
  height: 30px;
  border-radius: 5px;
  padding: 8px;
  margin-top: 5px;
  width: 150px;
}

.add-cards-btn {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  background-color: #01172F;
  color: white;
  margin: 10px 0;
  font-weight: bold;
}

.card-btn {
  border: none;
  background: transparent;
}

.more-odds-btn-box {
  text-align: center;
  margin-bottom: 40px
}

.get-odds-btn {
  background-color: red;
  color: white;
  padding: 8px;
  border: 1px solid red;
  border-radius: 10px;
  box-shadow: 0px 0px 35px 1px black;
}

.get-odds-btn-box {
  margin-top: 50px;
  text-align: center;
}

.list-odds-result {
  list-style: none;
  padding: 5px;
}

.odds-result {
  margin: 30px 0;
  padding: 10px;
}

.odds-percent {
  font-size: 18px;
  font-weight: bold;
}

.more-odds-btn {
  color: white;
  border-radius: 20px;
  background-color: #01172F;
  padding: 3px 5px;
  border: 1px solid #01172F;
}

.odds-instructions {
  padding: 10px;
  line-height: 25px;
}

.example-instructions {
  font-size: 14px;
}

.odds-label {
  font-weight: bold;
}

.text-instructions-odds {
  padding: 5px;
  font-weight: bold;
}

/* --- share game --- */

.share-btn {
  background-color: #8C0000;
  color: white;
  border-radius: 20px;
  padding: 10px 2p;
  font-weight: bold;
  margin-left: 30px;
  border: 1px solid #8C0000;
  height: 20px;
  margin-top: 18px;
}

.search-btn {
  background-color: #01172F;
  padding: 8px 15px;
  font-weight: bold;
  margin: 5px 20px;
  color: white;
  border-radius: 20px;
  border: 1px solid #01172F;
}

.user-found {
  margin: 10px;
  font-weight: bold;
  border: 2px solid black;
  padding: 3px 5px;
  border-radius: 20px;
}

.user-found-box {
  display: flex;
  margin-bottom: 40px;
}

/* --- game invitation --- */

.invitation-title {
  margin-top: 40px;
  line-height: 40px;
}

.invitation-btn {
  padding: 15px;
  margin: 20px;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

.invitation-btn-box {
  text-align: center;
  margin-top: 60px;
}

.accept-btn {
  background-color: #01172F;
  border: 1px solid #01172F;
}

.reject-btn {
  background-color: #8C0000;
  border: 1px solid #8C0000;
}

/* --- loading spinner --- */

.spinner {
  width: 40px;
  height: 40px;
  background-color: #333;

  margin: 200px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}