@import url('https://fonts.googleapis.com/css?family=Lato|Averia+Serif+Libre');

/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}


/* ---- typography ---- */

body {
  color: #111;
  font-family: 'Lato';
  line-height: 147%;
  background-color: #FDFFFF;
}

h1 {}

h2 {}

h3 {}

p {
  margin: 0;
}



/* ---- layout ---- */

.container {
  margin: 0 20px;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}

/* --- navbar --- */

.navbar {
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.nav-link {
  text-decoration: none;
  color: #8C0000;
}

.nav-or {
  color: black;
}

.profile-link {
  padding-right: 15px;
  padding-top: 10px;
}

.home-link {
  padding-left: 15px;
  padding-top: 10px;
}

.navbar-logo {
  width: 30px;
}


/* ---- components ---- */

.button {
  width: 100%;
  background-color: blue;
  color: #fff;
  border: 1px solid #fff
}

.underline {

}

.player-list {
  padding: 0;
}

/* ------- PAGES ------- */

/* --- landing --- */

.main-title {
  display: flex;
  text-align: center;
}

.main-title h1 {
  font-size: 55px;
  font-family: 'Averia Serif Libre';
  margin: 200px auto 0px;
  color: #8C0000;
}

.main-title img {
  height: 40px;
  padding: 0px 2px;
}

.landing-text {
  text-align: center;
  margin-top: 30px;
}

.landing-navbar {
  text-align: right;
  padding-right: 15px;
  padding-top: 10px;
  color: #8C0000;
}

/* --- login & signup --- */

.li-su-input {
  border-bottom: solid;
  border-top: white;
  border-right: white;
  border-left: white;
  height: 30px;
  padding: 10px;
}

.li-su-input-container {
  margin-top: 15px;
}

.li-su-container {
  margin-top: 100px;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 1px #8C0000;
}

.li-su-title {
  text-align: center;
  padding-top: 20px;
}

.username-container {
  text-align: center;
  padding-top: 20px;
}

.password-container {
  text-align: center;
  padding-top: 20px;
}

.li-su-btn-container {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.li-su-btn {
  height: 35px;
  width: 80px;
  background-color: #8C0000;
  border-radius: 10px;
  font-size: 15px;
  color: white;
}

.to-su-li {
  text-align: center;
}

.li-su-link-container {
  padding-top: 5px;
  padding-bottom: 20px;
}

.li-su-link {
  color: #8C0000;
}

.error-msg {
  color: red;
  text-align: center;
  margin: 0;
}

/* --- home --- */

.newgame-btn {
  text-align: center;
  font-size: 40px;
  margin: 200px auto 0 auto;
}

.newgame-link {
  padding: 30px;
  background-color: red;
  text-decoration: none;
  border-radius: 10px;
  color: white;
  box-shadow: 0px 0px 35px 1px rgba(168,15,71,1);
}

/* --- add players --- */

.add-players-title {
  margin-top: 40px;
}

.add-player-form {
  display: flex;
  margin-top: 28px;
}

.add-name-box {
  width: 175px;
}

.add-name-input {
  border: 1px solid;
  height: 30px;
  margin-right: 15px;
  border-radius: 5px;
  padding: 8px;
  margin-top: 5px;

}

.add-buyin-box {
  width: 70px;
}

.add-buyin-input {
  border: 1px solid;
  height: 30px;
  border-radius: 5px;
  width: 50px;
  margin-top: 5px;
  padding: 8px;
}

.add-player-btn {
  border: 1px solid black;
  margin-top: 28px;
  height: 30px;
  width: 30px;
  border-radius: 10px;
  font-size: 25px;
  background-color: red;
  color: white;
}

.start-btn {
  border: 1px solid black;
  height: 30px;
  width: 100px;
  border-radius: 10px;
  box-shadow: 0px 0px 35px 1px rgba(168,15,71,1);
  background-color: red;
  color: white;
}

.start-btn-box {
  text-align: center;
  margin-top: 40px;
}

.add-player-card {
  border: 1px solid black;
  list-style: none;
  display: inline-block;  
  border-radius: 20px;
  padding: 5px 10px;
  margin: 10px;
}

/* --- game playing --- */

.current-player-card {
  list-style: none;
  border: 1px solid black;
  margin: 10px auto;
  border-radius: 10px;
}

.finished-player {
  background-color: grey;
}

.current-player-info {
  padding: 5px;
  padding-left: 10px;
}

.current-player-link {
  text-decoration: none;
  color: white;
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
}

.current-player-buttons {
  margin: 5px;
  margin-bottom: 8px;
}

.rebuy-btn {
  background-color: green;
}

.final-stack-btn {
  background-color: red;
}

.end-game-btn-box {
  text-align: center;
}

.end-game-btn {
  text-decoration: none;
  background-color: black;
  color: white;
  padding: 8px;
  border-radius: 10px;
  box-shadow: 0px 0px 35px 1px black;
}

.playing-pot {
  margin: 25px 15px;
}

/* --- rebuy & final stack --- */

.playing-form {
  margin-top: 30px;
}

.playing-input {
  border: 1px solid black;
  border-radius: 5px;
  height: 50px;
  width: 80px;
  text-align: center;
  font-size: 20px;
}

.playing-submit-btn {
  background-color: red;
  height: 50px;
  margin: 10px;
  border-radius: 10px;
  color: white;
}

/* --- game summary --- */

.bi-fs-infobox {
  display: flex;
}

.bi-fs-infobox p {
  padding: 0px 15px;
}

.summary-player-info {
  padding: 5px;
}

.summary-name {
  font-size: 20px;
  font-weight: bold;
  padding-top: 5px;
  padding-left: 20px;
}

.summary-player-win {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

.done-link-box {
  text-align: center;
  margin: 50px;
}

.done-game-link {
  text-decoration: none;
  background-color: green;
  color: white;
  padding: 10px 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 35px 1px green;
}

.delete-game-btn {
  background-color: red;
  color: white;
  border-radius: 15px;
  padding: 5px 10px;
  margin-bottom: 40px;
}

/* --- profile --- */

.profile-header {
  display: flex;
}

.logout-btn-box {
  text-align: right;
}

.logout-btn {
  text-decoration: none;
}

.my-games-btn-box {
  margin: 40px;
  text-align: center;
}

.my-games-link {
  text-decoration: none;
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.backhome-link {
  text-decoration: none;
  background-color: black;
  color: white;
  padding: 8px;
  border-radius: 10px;
  font-size: 13px;
}

.my-info-container {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}

.my-info-container li {
  list-style: none;
  padding: 10px;
}

.my-info-tag {
  font-weight: bold;
}

/* --- my games --- */

.game-list {
  padding: 5px;
  list-style: none;
}

.game-card-container {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  margin: 10px auto;
  color: black;
}

.game-link {
  text-decoration: none;
}

.first-line-game-info {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.first-line-game-info p {
  font-weight: bold;
}

.second-line-game-info {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.pot-info {
  font-size: 20px;
}

.backprofile-box {
  text-align: center;
  margin-bottom: 40px;
}




