@import url('https://fonts.googleapis.com/css?family=Lato');

/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}


/* ---- typography ---- */

body {
  color: #111;
  font-family: 'Lato';
  line-height: 147%;
}

h1 {}

h2 {}

h3 {}

p {
  margin: 0;
}



/* ---- layout ---- */

.container {
  margin: 0 20px;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}

/* --- navbar --- */

.navbar {
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.nav-link {
  text-decoration: none;
}

.profile-link {
  padding-right: 15px;
  padding-top: 10px;
}

.home-link {
  padding-left: 15px;
  padding-top: 10px;
}


/* ---- components ---- */

.button {
  width: 100%;
  background-color: blue;
  color: #fff;
  border: 1px solid #fff
}

/* ------- PAGES ------- */

/* --- landing --- */

.main-title {
  text-align: center;
  margin-top: 200px;
  font-size: 60px;
}

.landing-text {
  text-align: center;
  margin-top: 30px;
}

.landing-navbar {
  text-align: right;
  padding-right: 15px;
  padding-top: 10px;
}

/* --- login & signup --- */

.li-su-input {
  border-bottom: solid;
  border-top: white;
  border-right: white;
  border-left: white;
  height: 30px;
}

.li-su-input-container {
  margin-top: 15px;
}

.li-su-container {
  margin-top: 120px;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 5px rgba(168,15,71,1);
}

.li-su-title {
  text-align: center;
  padding-top: 20px;
}

.username-container {
  text-align: center;
  padding-top: 20px;
}

.password-container {
  text-align: center;
  padding-top: 20px;
}

.li-su-btn-container {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.li-su-btn {
  height: 35px;
  width: 80px;
  background-color: red;
  border-radius: 10px;
  font-size: 15px;
  color: white;
}

.to-su-li {
  text-align: center;
}

.li-su-link-container {
  padding-top: 5px;
  padding-bottom: 20px;
}

/* --- home --- */

.newgame-btn {
  text-align: center;
  font-size: 40px;
  margin: 200px auto 0 auto;
}

.newgame-link {
  padding: 30px;
  background-color: red;
  text-decoration: none;
  border-radius: 10px;
  color: white;
  box-shadow: 0px 0px 35px 1px rgba(168,15,71,1);
}

